.circleButton {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.navBar {
  margin-top: 3pc;
}
.matchCard {
  margin-top: 0%;
  margin-bottom: 0%;
  width: 100pc;
}
