.circleButton {
  display: inline-block;
  line-height: 100px;
  vertical-align: bottom;
  width: 200px;
  height: 200px;
  padding-top: 50px;
  padding-left: 0px;
  font-size: 100px !important;
}
.badgeCaption {
  margin: 0;
  margin-right: 0;
  text-align: center;
  padding-right: 0;
}
#badgesDiv {
  background-color: #050a62;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
}
.navBar {
  margin-top: 3pc;
}
#matchCard {
  text-align: center;
  background-image: url('testpic.png');
  background-size: cover;
  background-position: center center;
}
#signupAlert {
  margin-top: 3pc;
  margin-bottom: 3pc;
}
.card-body {
  color: white;
}
#mainJumbo {
  background-image: url('chips-dinner-fast-food-70497.jpg');
  background-size: cover;
  color: white;
  background-position: center center;
  position: relative;
  z-index: -2;
  margin-top: 5px;
  padding-top: 0pc;
  padding-bottom: 0pc;
  height: 350px;
  opacity: .7;
}
#mainJumbo .container {
  padding-top: 150px;
  padding-bottom: 150px;
}
#mainJumbo .h1 {
  text-shadow: 4px 4px #000000;
}
.jumbo2 {
  background-size: cover;
  color: white;
  background-position: center center;
  position: relative;
  z-index: -2;
}
